@{
    ViewData["Title"] = "Login Page";
}
<h2>@ViewData["Title"]</h2>

<p style="color:red">Welcome to my login page</p>

@if (ViewData["UserName"] != null)
{
    <h1> Welcome @ViewData["UserName"]</h1>
}

<button text="Login" id="send" onclick="NavigateOAUTH()">Gönder</button>


<script type="text/javascript">

    function NavigateOAUTH() {
        window.open("https://github.com/login/oauth/authorize?client_id=e15e3dfe4c4ba33ea4d7&redirect_uri=http://emrekantar.com.tr:32540/Home/Erol&state=test1", "oauthpage", "left=100,top=100,width=800,height=800")
    }


</script>
